html{
    box-sizing: border-box;
}

*,
*::before 
*::after {
    box-sizing: inherit;
}
:root{
    --primary-tex-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2F303A;
    --link-color: #2196F3;
    --item-color: #FFFFFF;
    --button-color: #188CE8;
    --adress-color:rgba(255, 255, 255, 0.6); 
    --solid-header: #ECECEC;
    --work-person:  #F5F4FA;
}
.body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-tex-color);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}
h1,
h2,
h3,
p{
    padding: 0;
    margin: 0;
}
img{
    display:block;
    max-width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    
    /*outline: 2px solid blue*/
}
/*------------------------------LOGO------------*/


/*------------------------------BISNESS------------*/

/*------------------------------visually------------*/

/*------------------------------WORK------------*/

/*------------------------------SOCCCCCCCCCCC------------*/

/*.masters-soc-link:hover .masters-soc-icon{
    fill: #FFFFFF;
}*/
/*------------------------------CLIENT------------*/

/*------------------------------FOOTTER------------*/



/*------------------------------PORTFOLIO------------*/



/*------------------------------Modelne okno------------*/
