
.section-client{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
}
.client-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-top__item +.client-top__item{
    margin-left: 30px;
}
.client-top__link{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    color: #AFB1B8 ;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.client-top__icon{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-top__link:hover,
.client-top__link:focus{
border: 1px solid #2196F3;
color: #2196F3;
}