.work{
    padding-top: 0px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.works__icons:not(:last-child){
    margin-right: 30px;
}
.section-work{
    color: var(--primary-tex-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
}

.icons-thumb{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-thumb__icons{
color: var(--item-color);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.icons-thumb__text{
    display: flex;
    position: absolute;
    /*outline: 1px solid red;*/
    background-color: rgba(47, 48, 58, 0.8);
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
}